@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/functions";

@import "./base/base";
@import "./base/typography";

@import "./layout/header";
@import "./layout/banner";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/footer";
@import "./layout/section";

@import "./components/modal";
@import "./components/categories";
@import "./components/slides";
