
.banner {
    margin-top: 15px;
    height: 350px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 25px;
    @include border-radius($border:$border-radius);

    &__image {
        position: absolute;
        bottom: 0;
        border-radius: 0px 0px 5px 5px;
        width: 99.5%;
        height: 33px;
        padding-top: 15px;
        padding-left: 4px;
        background-color: rgba(24,24,24,0.6);
        color: white;
        font-size: 0.8em;
        & h1 {
            font-size: 1em;
            margin-left: 0.8em;
            margin-top: 0.1em;
        }
    }

    &__bouton {
        height: 20px;
        position: absolute;
        bottom: 10px;
        left: 36em;
        border: 1px solid #8f8686;
        border-radius: 5px;
        font-size: 1.2em;
        text-align: center;
        padding: 3px 8px 0px 8px;
        color: white;
        text-decoration: none;
        & img {
            margin-left: 5px;
        }
    }
}