

.title {
    font-size: 20px;
    color: #4a3636;
    margin: 20px 50px -60px;
    padding: 20px 0;
    text-align: center;
}

.item {
    margin: 50px 25px;
    /*background-color: #fff;*/
    box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);
    border-radius: 10px;
    position: relative;

    &:hover {
        transform: translate3d(0, -10px, 0);
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
        cursor: pointer;
    }

    &__body {
        padding: 25px;
    }

    &__title {
        font-size: 20px;
        margin-bottom: 5px;
        font-weight: bold;
        color: #232323;
    }

    &__description {
        color: #585858;
    }
}

.carousel {
    position: relative;

    &__container {
        transition: transform 0.3s;
        transform: translate3d(0, 0, 0);

        &::after {
            content: '';
            clear: both;
            display: table;
        }
    }

    &__item {
        float: left;
    }

    &__next,
    &__prev {
        position: absolute;
        width: 40px;
        height: 40px;
        background: #FFF url(../static/img/keyboard_right.svg) center center no-repeat;
        background-size: 20px 20px;
        border-radius: 50%;
        top: 50%;
        margin-top: -20px;
        right: 0;
        box-shadow: 0 15px 35px #3232321a, 0 5px 15px #0000001a;
        cursor: pointer;
        transition: transform 0.3s, opacity 0.3s;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__prev {
        background-image: url(../static/img/keyboard_left.svg);
        right: auto;
        left: 0;
    }

    &__next--hidden,
    &__prev--hidden {
        opacity: 0;
    }

    &__pagination {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        display: none;

        &__button {
            background-color: #fff;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 3px;
            box-shadow: 0 2px 5px #3232321a, 0 5px 15px #0000001a;
            transition: transform 0.3s;
            cursor: pointer;

            &--active,
            &:hover {
                transform: scale(1.4);
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);

    &--visible {
        display: block;
    }

    &__content {
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 1000px;
        text-align: center;
        border-radius: 10px;
        padding-top: 0;
    }

    &__image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    &__close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;

        &:hover,
        &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 800px) {
    .carousel__pagination {
        display: block;
    }
}
