

header {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    //@include border($colour-primary);
    @include border-radius($border:$border-radius);
    //@include heading-shadow;

    & img {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 1rem;
        color: $colour-secondary;
        //@include heading-shadow($colour-white);
    }

    & h1 {
        margin-left: 20px;
    }

    #banniere__image {
        //margin-top: 15px;
        //height: 200px;
        //border-radius: 5px;
        //position: relative;
        //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        //margin-bottom: 25px;
        //background: url('../images/image_banniere.jpg') no-repeat;
    }

    #header__navigation {
        display: flex;
        //text-decoration: none;
        margin-right: 20px;
        color: white;
        width: 20%;
        flex-direction: column;
        //list-style-type: none;
        //margin-right:50px;
        font-size: 1em;
        
        & ul {
            list-style-type: none;
        }

        & a {
            text-decoration: none;
            margin-right: 20px;
            color: $colour-primary;
        }

        & a:hover {
            //text-decoration: none;
            //color: $colour-primary;
            color: $colour-accent;
        } 
    }
}