
.nav__navigation {
    flex: auto;
    text-align: right;
    padding-right: 1.5rem;
    padding-bottom: 5px;

    &__ul {
        text-align: right;
    }

    &__link {
        list-style-type: none;
        display: inline;
        margin-left: 1rem;
        & ul {
            font-size: 2rem;
            padding-left: 1rem;
        }
        & li {
            list-style-type: none;
            margin-right: 15px;
        }
        & a {
            text-decoration: none;
            color: $colour-accent;
            font-size: 1.3em;
            padding-bottom: 3px;
        }

        &--active {
            color: $colour-secondary;
            font-size: 1.3em;
            &:hover {
                cursor: default;
                color: $colour-secondary;
            }
        }
        & a:hover {
            color: $colour-primary;
        }
    }
}