
.modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 

    &__modalContent {
        opacity: 90%;
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(74,54,54,1) 0%, rgba(39,28,28,1) 0%, rgba(0,0,0,1) 100%);
        margin: 5% auto;
        padding: 10px;
        width: 80%;
        color: black;
        border-radius: 30px;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        @include display;
        @include box-shadow($box-shadow);
        @include heading-shadow;
    }

    &__infoModalText__infoText {
        text-align: center;
        margin-left: 20px;
    }
    
    &__infoModalText__info {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        margin-bottom: 15px;
        @include display;
    }

    &__infoModalText__titleInfo {
        font-size: 0.9em;
    }
    
    & #headerModal {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: auto;
        margin-left: 2px;
        font-size: 2em;
        font-weight: bold;
        color:rgb(255, 255, 255);
        background-color: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(74,54,54,1) 0%, rgba(39,28,28,1) 0%, rgba(0,0,0,1) 100%);
        border-radius: 30px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        @include display;
    }

    & #headerModal__originalTitle {
        margin-bottom: 30px;
        text-align: center;
        text-shadow: 3px 3px 1px rgb(0, 0, 0);
    }

    & #headerModal__filmImage img {
        width: 250px;
        height: 350px;
    }

    & #infoModalText {
        -webkit-box-orient: vertical;   
        -webkit-box-direction: normal;   
        -ms-flex-direction: column;   
        flex-direction: column;
        width: 100%;
        margin-left: 30px;
        @include display;
        color: white;
    }

    & #infoModalText__actors {
        text-align: start;
        color: white;
    }

    & #infoModalText__longDescription {
        text-align: justify;
        color: white;
    }
}
