

/* Slides */
.list {
    //display: -webkit-box;
    //display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;

    .category__prev, .category__next {
        cursor: pointer;
        -webkit-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        opacity: 0.3;
        font-size: 25px;
        color: rgba(220, 220, 220, 0.8);
        background-color: rgba(0, 0, 0, 0.8);
        width: 40px;
        height: 80px;
        text-align: center;
        font-size: 2em;
        padding-top: 40px;
    }

    .category__prev {
        //left: 30px;
        margin-right: 5px;
    }

    .category__next {
        //right: 5px;
        margin-left: -15px;
    }
    
    .category__prev:hover, .category__next:hover  {
        opacity: 1;
    }

    .category__slide {
        margin-right: 20px;

        & img {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            @include border-radius($border:$border-radius);
        }

        & img:hover {
            -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
            margin-left: 30px;
            margin-right: 30px;
        }

    }

}


