
@mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
    text-shadow: $offset $offset $colour;
}

@mixin border($colour:$colour-secondary) {
    border: .1rem solid $colour;
}

@mixin border-radius($border: 5px) {
    border-radius: $border;
}

@mixin box-shadow($box:$box-shadow) {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@mixin display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
}

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}
